.red {
  color: orangered;
}
.blue {
  color: darkblue;
}
.image.hover-effect:hover {
  transform: scale(1.1); /* You can adjust the scaling factor as needed */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}
.icon:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); /* Add shadow effect */
  transition: filter 0.3s ease; /* Add a smooth transition effect */
}

/* Add a new CSS rule to match the color of the icon with the fill color */
.icon:hover path {
  fill: currentColor !important; /* Set the fill color to the current color (icon color) */
}

.color{
  color: #FFD700   ;
}