.linkss {
  text-decoration: none !important;
  color: white;
  list-style-type: none;
}
.underline {
  padding-bottom: 10px;
  text-decoration: underline;
  color: orangered;
}
.text:hover {
  text-decoration: underline;
}
